.shape-bg {
    background-image: url(../../Assets/Images/shape-bg.png);
    width: 400px;
    height: 400px;
    position: absolute;
    top: -34px;
    left: -28px;
    background-size: contain;
    background-repeat: no-repeat;
    transform: rotate(45deg);
    z-index: -1;
}
@media only screen and (max-width: 460px) {
    .shape-bg {
        width: 300px;
        height: 300px;
    }
}
