.dude-btn {
    background-color: #f35a38;
    padding: 12px 30px;
    font-size: 18px;
    font-weight: 500;
    color: white;
    transition: 0.2s;
    border-radius: 4px;
}
.dude-btn:hover {
    background-color: #ef441e;
}
